  canvas {
    border: 1px solid #000;
  }
  .canvas-container {
    display: inline-block;
  }
  .background {
    position: absolute; 
    top: 29px; 
    left: 333px;
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);

  }
  .settings {
  	display: inline-block;
  	width: 300px;
  	vertical-align: top;
  }
